{% extends "adminindex.html" %}
{% block body %}
  <div class="container mt-5" style="max-width: 500px;">
    <h3 class="mb-4 text-center">Change Password</h3>
    <div id="message" class="mb-3"></div>
    <form id="changePasswordForm" action="/myapp/changepassword_post/" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label for="currentpassword" class="form-label">Current Password</label>
        <input type="password" class="form-control" name="currentpassword" id="currentPassword" required>
      </div>
      <div class="mb-3">
        <label for="newpassword" class="form-label">New Password</label>
        <input type="password" class="form-control" name="newpassword" id="newpassword" required>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Update Password</button>
    </form>
  </div>
{% endblock %}